* {
  box-sizing: border-box;
  margin: 0.25rem;
  padding: 5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(249, 248, 246);
}

h1 {
  font-size: 2rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  font-size: 0.95rem;
  color: black;
  font-weight: 200;
}

.img-container {
  width: 200px;
  z-index: 1;
}

.bg-image {
  /* position: relative; */
  width: 200px;
  /* height: 300px; */
}

.movie-info {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.movie-details {
  /* clear: both; */
  /* display: flex; */
  /* align-items: center; */
}

.movie-details:nth-child(odd) {
  float: right;
}

.movie-details:nth-child(even) {
  float: left;
}

button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
